/* this stylesheet only contains the styles that apply to all pages */

/* remove default */

* {
  margin: 0;
  padding: 0;
}

/* generic styles */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --bambuda-blue: rgb(46, 67, 95);
  --bambuda-orange: rgb(255, 235, 212);
}

html {
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: 300;
  /* background-color: var(--bambuda-blue); */
  line-height: 1.4;
}
