/* generic styles */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --bambuda-blue: rgb(46, 67, 95);
  --bambuda-orange: rgb(255, 235, 212);
  --bambuda-green: rgb(211, 222, 203);
  --bambuda-lightblue: rgb(194, 219, 229);
  --bambuda-red: rgb(255, 225, 211);
}

html {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  color: var(--bambuda-blue);
  background-color: white;
}

html,
body,
#content {
  height: 100%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 40px;
  padding-bottom: 10px;
  border-bottom: 3px solid;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

.menu,
.beverages,
.breakfast,
.appetizers,
.lunch {
  display: flex;
}

.left,
.right {
  width: 50%;
  padding: 50px;
}

.item-container {
  margin-top: 40px;
}

.description {
  margin-top: 10px;
}

.legend {
  font-weight: 500;
}

/* nav bar */

.nav {
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.nav-item {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 50px;
  cursor: pointer;
}

.nav-item:hover,
.current {
  font-weight: 800;
  padding-bottom: 2px;
  border-bottom: 2px solid;
}

/* background colors */

.beverages .left {
  background-color: var(--bambuda-green);
}

.beverages .right {
  background-color: white;
}

.breakfast .left {
  background-color: white;
}

.breakfast .right {
  background-color: var(--bambuda-orange);
}

.appetizers .left {
  background-color: var(--bambuda-lightblue);
}

.appetizers .right {
  background-color: white;
}

.lunch .left {
  background-color: var(--bambuda-red);
}

.lunch .right {
  background-color: white;
}

/* menu */

.menu {
  height: 100%;
  color: white;
  background-color: var(--bambuda-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.menu h2 {
  cursor: pointer;
  border: none;
}

.menu h2:hover {
  color: rgb(193, 206, 255);
}
