.nav {
  height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.nav-item {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 50px;
  cursor: pointer;
}

.nav-item:hover,
.current {
  font-weight: 800;
  padding-bottom: 2px;
  border-bottom: 2px solid;
}
